/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/domains
/vendor
.env
.env.backup
.phpunit.result.cache
database.sqlite
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
